unpackaged/main/default/flows/Create_Matter_from_RFP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_new_Content_Document_Link_to_Collection</name>
        <label>Add new Content Document Link to Collection</label>
        <locationX>336</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>NewDocumentLinktoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLinkTemporary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_File_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Temp_Budget_to_Collection</name>
        <label>Add Temp Budget to Collection</label>
        <locationX>462</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>BudgetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BudgetTemporary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Each_Recommendation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Temporary_Player_to_Collection</name>
        <label>Add Temporary Player to Collection</label>
        <locationX>705</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>CreateNewPlayers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PlayerTemporary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_to_Temp_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_to_Temp_Budget</name>
        <label>Assign Budget to Temp Budget</label>
        <locationX>584</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>BudgetTemporary.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMatterRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BudgetTemporary.Firm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Each_Recommendation.Firm__r.Law_Firm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BudgetTemporary.Responsible_for_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Each_Recommendation.Legal_Expense_Responsibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BudgetTemporary.Budget_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BudgetTemporary.Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Each_Recommendation.Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BudgetTemporary.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Each_Recommendation.Expenses__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Temp_Budget_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Link_Properties</name>
        <label>Assign Link Properties</label>
        <locationX>414</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkTemporary.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_File_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkTemporary.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMatterRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkTemporary.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_File_Records.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Content_Document_Link_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_to_Temporary_Player</name>
        <label>Assign Partner to Temporary Player</label>
        <locationX>845</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>PlayerTemporary.LegalStratusISV__Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Each_Recommendation.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlayerTemporary.LegalStratusISV__Matter_Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Law Firm Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlayerTemporary.LegalStratusISV__Matters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMatterRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Temporary_Player_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recommendation_to_Temporary</name>
        <label>Assign Recommendation to Temporary</label>
        <locationX>697</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>MatterAssociationTemporary.LegalStratusISV__Organization_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Law firm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatterAssociationTemporary.LegalStratusISV__Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMatterRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatterAssociationTemporary.LegalStratusISV__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Each_Recommendation.Recommended_Firm__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Temporary_Matter_Association_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Temporary_Matter_Association_to_Collection</name>
        <label>Assign Temporary Matter Association to Collection</label>
        <locationX>846</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>CreateNewMatterAssociations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatterAssociationTemporary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Partner_to_Temporary_Player</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Files</name>
        <label>Are there Files</label>
        <locationX>221</locationX>
        <locationY>982</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Files_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File_Records</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Create Matter from RFP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Matter from RFP</label>
    <loops>
        <name>Get_File_Records</name>
        <label>Get File Records</label>
        <locationX>232</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Files_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Link_Properties</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Each_Recommendation</name>
        <label>Loop through Each Recommendation</label>
        <locationX>452</locationX>
        <locationY>743</locationY>
        <collectionReference>Get_Recommendation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recommendation_to_Temporary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Associated_Org</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Associated_Org</name>
        <label>Create Associated Org</label>
        <locationX>331</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Create_Player</targetReference>
        </connector>
        <inputReference>CreateNewMatterAssociations</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Budget</name>
        <label>Create Budget</label>
        <locationX>112</locationX>
        <locationY>749</locationY>
        <connector>
            <targetReference>Get_Files_Records</targetReference>
        </connector>
        <inputReference>BudgetCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Matter</name>
        <label>Create Matter</label>
        <locationX>452</locationX>
        <locationY>503</locationY>
        <assignRecordIdToReference>varMatterRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Matter_Id_to_RFP_Matter_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_RFP_Fields.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Governing_Law__c</field>
            <value>
                <elementReference>Get_RFP_Fields.Governing_Law__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LegalStratusISV__Type__c</field>
            <value>
                <elementReference>Get_RFP_Fields.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Phase__c</field>
            <value>
                <elementReference>Get_RFP_Fields.Transaction_Phase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_RFP_Fields.Transaction_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFP_Initiation__c</field>
            <value>
                <elementReference>Get_RFP_Fields.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_for_Payment__c</field>
            <value>
                <elementReference>Get_RFP_Fields.Legal_Expense_Responsibility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Get_RFP_Fields.Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <object>LegalStratusISV__Matter__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Document_Link</name>
        <label>Create New Document Link</label>
        <locationX>141</locationX>
        <locationY>1284</locationY>
        <inputReference>NewDocumentLinktoCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Player</name>
        <label>Create Player</label>
        <locationX>231</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>Create_Budget</targetReference>
        </connector>
        <inputReference>CreateNewPlayers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Files_Records</name>
        <label>Get Files Records</label>
        <locationX>227</locationX>
        <locationY>858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RFP_Fields.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recommendation_Records</name>
        <label>Get Recommendation Records</label>
        <locationX>452</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Each_Recommendation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RFP_Initiation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RFP_Fields.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RFP_Fields</name>
        <label>Get RFP Fields</label>
        <locationX>452</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Matter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RFP_Initiation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Legal_Expense_Responsibility__c</queriedFields>
        <queriedFields>Transaction_Country__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Transaction_Name__c</queriedFields>
        <queriedFields>Governing_Law__c</queriedFields>
        <queriedFields>Transaction__c</queriedFields>
        <queriedFields>Transaction_Phase__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Matter_Id_to_RFP_Matter_Field</name>
        <label>Add Matter Id to RFP Matter Field</label>
        <locationX>284</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Get_Recommendation_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Matter__c</field>
            <value>
                <elementReference>varMatterRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>326</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_RFP_Fields</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Matter_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Matter__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RFP_Initiation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BudgetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Matter_Budget__c</objectType>
    </variables>
    <variables>
        <name>BudgetTemporary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Matter_Budget__c</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkTemporary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CreateNewMatterAssociations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Matter_Association__c</objectType>
    </variables>
    <variables>
        <name>CreateNewPlayers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Players__c</objectType>
    </variables>
    <variables>
        <name>MatterAssociationTemporary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Matter_Association__c</objectType>
    </variables>
    <variables>
        <name>NewDocumentLinktoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>PlayerTemporary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Players__c</objectType>
    </variables>
    <variables>
        <name>RecommendationTemporary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatterAssociations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Matter_Association__c</objectType>
    </variables>
    <variables>
        <name>varMatterRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
