unpackaged/main/default/flows/Create_list_of_RFP_Initiation_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Firm_to_Append</name>
        <label>Assign Firm to Append</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ListofFirms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_RFP_Accounts</targetReference>
        </connector>
    </assignments>
    <description>For Email Form 1 Listing all RFP Initiation Accounts</description>
    <formulas>
        <name>Append_Name</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_All_RFP_Accounts.Law_Firm__r.Name}&amp; &quot;, &quot; &amp;  {!Append_Name}</expression>
    </formulas>
    <formulas>
        <name>Trimrightcomma</name>
        <dataType>String</dataType>
        <expression>Trim(Right({!ListofFirms},2))</expression>
    </formulas>
    <interviewLabel>Create list of RFP Initiation Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LS - Create list of RFP Initiation Accounts</label>
    <loops>
        <name>Loop_through_All_RFP_Accounts</name>
        <label>Loop through All RFP Accounts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_RFP_Initiation_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Firm_to_Append</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_List_of_Firms_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RFP_Initiation_Accounts</name>
        <label>Get RFP Initiation Accounts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_All_RFP_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RFP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Initiation_Accounts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_List_of_Firms_Field</name>
        <label>Update List of Firms Field</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>RFP_Initiation_Account_Names__c</field>
            <value>
                <elementReference>Trimrightcomma</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RFP_Initiation_Accounts</targetReference>
        </connector>
        <object>RFP_Initiation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ListofFirms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
