unpackaged/main/default/flows/Edit_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_LI_Record</name>
        <label>Create LI Record</label>
        <locationX>1432</locationX>
        <locationY>1221</locationY>
        <actionName>CreateLIRecordsManually</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>vNewLISuccess_True_False</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lineItemRec</name>
            <value>
                <elementReference>vNewLIObject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lineItemType</name>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vNewLIError</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vNewLISuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vNewLineItemRecordID</assignToReference>
            <name>lineItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_values_to_flow_variables</name>
        <label>Assign values to flow variables</label>
        <locationX>926</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>vSelectedExpenseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Expense_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelectedActivityCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Activity_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelectedTaskCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Task_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelectedMatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Client_Matter_ID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelectedTimeKeeperContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPreviousNumberOfUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Number_of_Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPreviousUnitCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Unit_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTimekeeperClassification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fee_or_Expense_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_vNewLIObject_Discount_IE_IF</name>
        <label>Populate vNewLIObject Discount IE IF</label>
        <locationX>841</locationX>
        <locationY>1337</locationY>
        <assignmentItems>
            <assignToReference>vNewLIObject.Line_Item_Discount_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedDiscountPercent_IE_IF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Adjestment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedDiscountAmount_IE_IF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.User_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discount_Option_IE_IF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_LI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_vNewLIObject_Expense</name>
        <label>Populate vNewLIObject Expense</label>
        <locationX>1291</locationX>
        <locationY>980</locationY>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Expense_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedExpenseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItem_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Item_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Number_of_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_Per_Unit_Num</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Timekeeper_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plContactTimekeepers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Rate_E</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.Line_Item_Discount_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discount_E</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Adjestment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Tax_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateTaxTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_LI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_vNewLIObject_Fee</name>
        <label>Populate vNewLIObject Fee</label>
        <locationX>768</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Activity_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedActivityCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItem_Date_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Item_Description_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Number_of_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Units_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Task_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedTaskCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_Per_Unit_Num_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Rate_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.Line_Item_Discount_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discount_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Adjestment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Tax_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateTaxTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_LI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_vNewLIObject_IE_IF</name>
        <label>Populate vNewLIObject IE IF</label>
        <locationX>936</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Activity_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedActivityCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItem_Date_IF_IE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Item_Description_IE_IF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Task_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedTaskCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Tax_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_vNewLIObject_Tax_IE_IF</name>
        <label>Populate vNewLIObject Tax IE IF</label>
        <locationX>1057</locationX>
        <locationY>1338</locationY>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedTaxRate_IE_IF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.LegalStratusISV__Line_Item_Tax_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedTaxAmount_IE_IF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewLIObject.User_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Option_IE_IF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_LI_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultActivityCode</name>
        <choiceText>{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Activity_Code__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Activity_Code__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultDiscountTaxInputType_IE_IF</name>
        <choiceText>{!CalculatedDiscountTax_Choice_Label_IE_IF}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CalculatedDiscountTax_Choice_Value_IE_IF</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultExpenseCode</name>
        <choiceText>{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Expense_Code__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Expense_Code__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultTaskCode</name>
        <choiceText>{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Task_Code__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Task_Code__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultTimeKeeper</name>
        <choiceText>{!Get_LI_to_Edit.LegalStratusISV__LEDES_Timekeeper_Name__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Name__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defautTimeKeeperClassification</name>
        <choiceText>{!Get_LI_to_Edit.LegalStratusISV__Timekeeper_Classification__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Classification__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>DiscountAmount_Choice</name>
        <choiceText>Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>DiscountPercentage_Choice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Discount %&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Percentage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Expense_choice</name>
        <choiceText>Expense</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees_choice</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoneSelected_Choice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;None Selected&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>- None Selected -</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoValueSelected</name>
        <choiceText>Not Selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>TaxAmount_Choice</name>
        <choiceText>Tax Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>TaxPercentage_Choice</name>
        <choiceText>Tax %</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Percentage</stringValue>
        </value>
    </choices>
    <constants>
        <name>Manual_RecType_Invoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Fee_or_Expense_0</name>
        <label>Fee or Expense</label>
        <locationX>920</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Enter_Line_Items_IE_IF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IE IF</defaultConnectorLabel>
        <rules>
            <name>Expense_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Line_Items_E</targetReference>
            </connector>
            <label>Expense</label>
        </rules>
        <rules>
            <name>Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Line_Items_F</targetReference>
            </connector>
            <label>Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tax_Line_Item</name>
        <label>Is Tax Line Item</label>
        <locationX>936</locationX>
        <locationY>1204</locationY>
        <defaultConnector>
            <targetReference>Populate_vNewLIObject_Discount_IE_IF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Is Tax LI</defaultConnectorLabel>
        <rules>
            <name>Is_Tax_LI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.Is_Tax_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_vNewLIObject_Tax_IE_IF</targetReference>
            </connector>
            <label>Is Tax LI</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Invoice_or_Old</name>
        <label>New Invoice or Old</label>
        <locationX>920</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>Assign_values_to_flow_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Manual Invoice</defaultConnectorLabel>
        <rules>
            <name>Not_New_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Invoice__r.LegalStratusISV__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewInvoiceErrorMessage</targetReference>
            </connector>
            <label>Not New Invoice</label>
        </rules>
        <rules>
            <name>File_Imported_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Invoice__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Manual_RecType_Invoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImportedInvoiceErrorMessage</targetReference>
            </connector>
            <label>File Imported Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_select_Expense_Code</name>
        <label>User select Expense Code</label>
        <locationX>1130</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>Missing_Expense_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Expense Code</defaultConnectorLabel>
        <rules>
            <name>Expense_Code_selected</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedExpenseCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedExpenseCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Expense_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Expense_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_vNewLIObject_Expense</targetReference>
            </connector>
            <label>Expense Code selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_select_Timekeeper_Activity_and_Task_Code</name>
        <label>User select Timekeeper, Activity and Task Code</label>
        <locationX>759</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Missing_Fee_Codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing codes</defaultConnectorLabel>
        <rules>
            <name>All_values_entered</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10) OR (11 AND 12 AND 13 AND 14 AND 15 AND 16 AND 17 AND 18 AND 19 AND 20)</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedActivityCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedActivityCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedTaskCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedTaskCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedTimeKeeperContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedTimeKeeperContactID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTimekeeperClassification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTimekeeperClassification</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Line_Item_Description_F</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Line_Item_Description_F</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Activity_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Activity_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Task_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Task_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Name__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Name__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Classification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_vNewLIObject_Fee</targetReference>
            </connector>
            <label>All values entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_select_Timekeeper_Activity_and_Task_Code_0</name>
        <label>User select Timekeeper, Activity and Task Code</label>
        <locationX>924</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>Missing_Fee_Codes_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing codes</defaultConnectorLabel>
        <rules>
            <name>All_values_entered_IE_IF</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 ) OR ( 5 AND 6 AND 7 AND 8)) AND ( (12 AND  ((9 AND 10) OR 11) AND ((16 AND 18) OR (17 AND 19))) OR ((13 AND 14) OR 15))</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedTaskCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedTaskCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Line_Item_Description_IE_IF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Line_Item_Description_IE_IF</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Task_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Task_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Discount_Option_IE_IF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DiscountAmount_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Discount_Amount_IE_IF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Discount_Percentage_IE_IF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.Is_Tax_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tax_Option_IE_IF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaxAmount_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tax_Amount_IE_IF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tax_Rate_IE_IF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalculatedDiscountAmount_IE_IF_Comparison</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>vInvoiceFeeTotal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalculatedDiscountAmount_IE_IF_Comparison</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>vInvoiceExpenseTotal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_vNewLIObject_IE_IF</targetReference>
            </connector>
            <label>All values entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>vNewLISuccess_True_False</name>
        <label>vNewLISuccess True/False</label>
        <locationX>1403</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>LIDetailError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_LI_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewLISuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>IS LI Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>plActivityCode</name>
        <dataType>String</dataType>
        <displayField>LegalStratusISV__Code_and_Description__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </filters>
        <object>LegalStratusISV__UTBMS_Code_Set__c</object>
        <outputAssignments>
            <assignToReference>vSelectedActivityCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>LegalStratusISV__Code_and_Description__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plContactTimekeeperExisting</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Timekeeper_Name__c</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vSelectedTimeKeeperContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimekeeperID</assignToReference>
            <field>LegalStratusISV__Timekeeper_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimekeeperName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plContactTimekeepers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLawFirmRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Timekeeper_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vSelectedTimeKeeperContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimekeeperID</assignToReference>
            <field>LegalStratusISV__Timekeeper_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimekeeperName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plFilteredMatters</name>
        <dataType>String</dataType>
        <displayField>LegalStratusISV__Matter_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLawFirmRecordID</elementReference>
            </value>
        </filters>
        <object>LegalStratusISV__Matter_Association__c</object>
        <outputAssignments>
            <assignToReference>vSelectedMatterID</assignToReference>
            <field>LegalStratusISV__Matter__c</field>
        </outputAssignments>
        <valueField>LegalStratusISV__Matter_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plLawFirms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vLawFirmRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>AccountNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plMatter</name>
        <dataType>String</dataType>
        <displayField>LegalStratusISV__Matter__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plLawFirms</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Organization_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Law firm</stringValue>
            </value>
        </filters>
        <object>LegalStratusISV__Matter_Association__c</object>
        <outputAssignments>
            <assignToReference>vSelectedMatterID</assignToReference>
            <field>LegalStratusISV__Matter__c</field>
        </outputAssignments>
        <sortField>LegalStratusISV__Matter__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>LegalStratusISV__Matter__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plTimeKeeperClassifications</name>
        <dataType>String</dataType>
        <displayField>LegalStratusISV__Classifications__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSelectedTimeKeeperContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LineItem_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>LegalStratusISV__Billing_Rates__c</object>
        <outputAssignments>
            <assignToReference>vBillingRate</assignToReference>
            <field>LegalStratusISV__Billing_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimekeeperClassification</assignToReference>
            <field>LegalStratusISV__Classifications__c</field>
        </outputAssignments>
        <valueField>LegalStratusISV__Classifications__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plUTBMSExpenseCodes</name>
        <dataType>String</dataType>
        <displayField>LegalStratusISV__Code_and_Description__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>eDiscovery Expense</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IP Expense</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Expenses</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Catch All</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IP Custom</stringValue>
            </value>
        </filters>
        <object>LegalStratusISV__UTBMS_Code_Set__c</object>
        <outputAssignments>
            <assignToReference>vSelectedExpenseCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>LegalStratusISV__Code_and_Description__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Codes EXCEPT Expense Codes</description>
        <name>plUTBMSTaskCode</name>
        <dataType>String</dataType>
        <displayField>LegalStratusISV__Code_and_Description__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>eDiscovery Expense</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IP Expense</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Technical Expenses</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Catch All</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__UTBMS_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IP Custom</stringValue>
            </value>
        </filters>
        <object>LegalStratusISV__UTBMS_Code_Set__c</object>
        <outputAssignments>
            <assignToReference>vSelectedTaskCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>LegalStratusISV__Code_and_Description__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Timekeeper_Classification_Records</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>LegalStratusISV__Timekeeper_Classification__c</object>
        <outputAssignments>
            <assignToReference>vTimekeeperClassification</assignToReference>
            <field>LegalStratusISV__Classification_Text__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CalculatedDiscountAmount_IE_IF</name>
        <dataType>Number</dataType>
        <expression>IF( 
{!Discount_Option_IE_IF} == &apos;Amount&apos;,
(-1*{!Discount_Amount_IE_IF}),
( {!Discount_Percentage_IE_IF}) * -0.01 *
IF( 
{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c} == &apos;IF&apos;, 
{!Get_LI_to_Edit.LegalStratusISV__Invoice__r.LegalStratusISV__Invoice_Fee_Total__c}, 
{!Get_LI_to_Edit.LegalStratusISV__Invoice__r.LegalStratusISV__Invoice_Expense_Total__c}
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedDiscountAmount_IE_IF_Comparison</name>
        <dataType>Number</dataType>
        <expression>IF( 
{!Discount_Option_IE_IF} == &apos;Amount&apos;,
({!Discount_Amount_IE_IF}),
( {!Discount_Percentage_IE_IF}) * 0.01 *
IF( 
{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c} == &apos;IF&apos;, 
{!Get_LI_to_Edit.LegalStratusISV__Invoice__r.LegalStratusISV__Invoice_Fee_Total__c}, 
{!Get_LI_to_Edit.LegalStratusISV__Invoice__r.LegalStratusISV__Invoice_Expense_Total__c}
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedDiscountPercent_IE_IF</name>
        <dataType>Number</dataType>
        <expression>IF( 
{!Discount_Option_IE_IF} == &apos;Amount&apos;,
null,
({!Discount_Percentage_IE_IF})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedDiscountTax_Choice_Label_IE_IF</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_LI_to_Edit.Is_Tax_Line_Item__c},
IF({!Get_LI_to_Edit.User_Option__c} == &apos;Amount&apos;, &apos;Tax Amount&apos;, &apos;Tax %&apos;),
IF({!Get_LI_to_Edit.User_Option__c} == &apos;Amount&apos;, &apos;Amount&apos;, &apos;Discount %&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>CalculatedDiscountTax_Choice_Value_IE_IF</name>
        <dataType>String</dataType>
        <expression>IF({!Get_LI_to_Edit.User_Option__c} == &apos;Amount&apos;, &apos;Amount&apos;, &apos;Percentage&apos;)</expression>
    </formulas>
    <formulas>
        <name>CalculateDiscount</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c} == &apos;E&apos;, 
 (({!Cost_Per_Unit_Num}*{!Units})*-1*( IF(ISNULL({!Discount_E}),0,{!Discount_E}) ) ),
 (({!Cost_Per_Unit_Num_F}*{!Units_F})*-1*( IF(ISNULL({!Discount_F}),0,{!Discount_F}) ) )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedTaxAmount_IE_IF</name>
        <dataType>Number</dataType>
        <expression>IF( 
{!Tax_Option_IE_IF} == &apos;Amount&apos; || {!Tax_Option_IE_IF} == &apos;Tax Amount&apos;,
{!Tax_Amount_IE_IF},
( {!Tax_Rate_IE_IF} * 0.01 * {!vInvoiceFeeTotal})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedTaxRate_IE_IF</name>
        <dataType>Number</dataType>
        <expression>IF( 
{!Tax_Option_IE_IF} == &apos;Amount&apos;,
null,
({!Tax_Rate_IE_IF}/100)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateTaxTotal</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c} == &apos;E&apos;,
(({!Cost_Per_Unit_Num}*{!Units})+( {!CalculateDiscount} ) ) * IF(ISNULL({!Tax_Rate_E}),0,{!Tax_Rate_E}),
(({!Cost_Per_Unit_Num_F}*{!Units_F})+( {!CalculateDiscount} ) ) * IF(ISNULL({!Tax_Rate_F}),0,{!Tax_Rate_F})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>defaultDiscountAmount_IE_IF</name>
        <dataType>Number</dataType>
        <expression>{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Adjestment_Amount__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>defaultDiscountPercentage_IE_IF</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_LI_to_Edit.User_Option__c} == &apos;Percentage&apos;, {!Get_LI_to_Edit.Line_Item_Discount_Rate__c}, null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>defaultTaxAmount_IE_IF</name>
        <dataType>Number</dataType>
        <expression>{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Tax_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>defaultTaxPercantage_IE_IF</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_LI_to_Edit.User_Option__c} == &apos;Amount&apos;, null, {!Get_LI_to_Edit.LegalStratusISV__Line_Item_Tax_Rate__c}*100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>fEndTextNumber</name>
        <dataType>Number</dataType>
        <expression>FIND(&apos;. You can look up&apos;,{!$Flow.FaultMessage})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFindStartNumber</name>
        <dataType>Number</dataType>
        <expression>FIND(&apos;**&apos;,{!$Flow.FaultMessage})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFlowErrorMsg</name>
        <dataType>String</dataType>
        <expression>MID({!$Flow.FaultMessage}, {!fFindStartNumber},{!fEndTextNumber} - {!fFindStartNumber})</expression>
    </formulas>
    <formulas>
        <name>fGetLineItemNumber</name>
        <dataType>Number</dataType>
        <expression>IF({!vNextLineItemNumber_Text}=&quot;none&quot;,1, VALUE({!vNextLineItemNumber_Text}) + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fInvoiceNumber</name>
        <dataType>String</dataType>
        <expression>&quot;M&quot; &amp; &apos;-&apos; &amp; RIGHT({!pInvoiceID},6)</expression>
    </formulas>
    <formulas>
        <name>fInvoiceTotal</name>
        <dataType>Currency</dataType>
        <expression>{!vTotalFees} + {!vTotalExpenses} + {!fTotalTaxes}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fLineItemNumber_toText</name>
        <dataType>String</dataType>
        <expression>TEXT({!vLineItemNumber})</expression>
    </formulas>
    <formulas>
        <name>fLineItemTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Units} * {!Cost_Per_Unit_Num}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fTotalTaxes</name>
        <dataType>Currency</dataType>
        <expression>{!vTotalTaxesonFees} + {!vTotalTaxesOnExpenses}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>isDiscountAmountLessThenAllowedAmount_IE_IF</name>
        <dataType>Boolean</dataType>
        <expression>if( {!Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c} == &apos;IF&apos;,
IF((-1*{!CalculatedDiscountAmount_IE_IF}) &lt;= {!vInvoiceFeeTotal}, true, false),
IF((-1*{!CalculatedDiscountAmount_IE_IF}) &lt;= {!vInvoiceExpenseTotal}, true, false)
)</expression>
    </formulas>
    <interviewLabel>Edit Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Line Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_LI_to_Edit</name>
        <label>Get LI to Edit</label>
        <locationX>520</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LegalStratusISV__Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Invoice</name>
        <label>Get related Invoice</label>
        <locationX>704</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Invoice_or_Old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LI_to_Edit.LegalStratusISV__Invoice__r.Id</elementReference>
            </value>
        </filters>
        <object>LegalStratusISV__Invoice__c</object>
        <outputAssignments>
            <assignToReference>vInvoiceCurrency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vInvoiceExpenseTotal</assignToReference>
            <field>LegalStratusISV__Invoice_Expense_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vInvoiceFeeTotal</assignToReference>
            <field>LegalStratusISV__Invoice_Fee_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLawFirmRecordID</assignToReference>
            <field>LegalStratusISV__Invoice_Vendor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLawFirmID</assignToReference>
            <field>LegalStratusISV__Law_Firm_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSelectedMatterID</assignToReference>
            <field>LegalStratusISV__Matter__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Enter_Line_Items_E</name>
        <label>Enter Line Items E</label>
        <locationX>1061</locationX>
        <locationY>537</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_select_Expense_Code</targetReference>
        </connector>
        <fields>
            <name>Create_Line_Item_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Edit Line Item&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_LI_to_Edit.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowScreenStage_Expense</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Expense_Code</name>
            <choiceReferences>plUTBMSExpenseCodes</choiceReferences>
            <choiceReferences>defaultExpenseCode</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultExpenseCode</defaultSelectedChoiceReference>
            <fieldText>Expense Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Line_Items_E_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Line_Items_E_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LineItem_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_E_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Units</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Number_of_Units__c</elementReference>
                    </defaultValue>
                    <fieldText>Units</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_E_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Per_Unit_Num</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Unit_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Per Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Line_Item_Description</name>
            <defaultValue>
                <stringValue>{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Line Item Description (Required for Line Item Type Fee)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_Line_Items_E_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Line_Items_E_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discount_E</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.Line_Item_Discount_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Line Item Discount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 32, 24);&quot;&gt;Discount should be between -1 and 1.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( OR(ISNULL({!Discount_E}), AND({!Discount_E}&lt;1, {!Discount_E}&gt;-1)), true,false)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_E_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Rate_E</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Tax_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Tax Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 9, 9);&quot;&gt;Tax Rate should be between 0 and 1.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( OR(ISNULL({!Tax_Rate_E}), AND({!Tax_Rate_E}&lt;1, {!Tax_Rate_E}&gt;0)), true,false)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Line_Items_F</name>
        <label>Enter Line Items F</label>
        <locationX>797</locationX>
        <locationY>549</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_select_Timekeeper_Activity_and_Task_Code</targetReference>
        </connector>
        <fields>
            <name>Create_Line_Item_Title_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Edit Line Item&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_LI_to_Edit.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowScreenStage_Fee</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_Line_Items_F_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Line_Items_F_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Task_Code_F</name>
                    <choiceReferences>plUTBMSTaskCode</choiceReferences>
                    <choiceReferences>defaultTaskCode</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>defaultTaskCode</defaultSelectedChoiceReference>
                    <fieldText>Task Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_F_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Activity_Code_F</name>
                    <choiceReferences>plActivityCode</choiceReferences>
                    <choiceReferences>defaultActivityCode</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>defaultActivityCode</defaultSelectedChoiceReference>
                    <fieldText>Activity Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_Line_Items_F_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Line_Items_F_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LineItem_Date_F</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_F_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Units_F</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Number_of_Units__c</elementReference>
                    </defaultValue>
                    <fieldText>Units</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_F_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Per_Unit_Num_F</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Unit_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Per Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Line_Item_Description_F</name>
            <defaultValue>
                <stringValue>{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Line Item Description (Required for Line Item Type Fee)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_Line_Items_F_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Line_Items_F_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discount_F</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.Line_Item_Discount_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Line Item Discount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 32, 24); background-color: rgb(255, 255, 255);&quot;&gt;Discount should be between 0 and 1.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( OR(ISNULL({!Discount_F}), AND({!Discount_F}&lt;=1, {!Discount_F}&gt;=0)), true,false)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_F_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Rate_F</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Tax_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Tax Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 9, 9);&quot;&gt;Tax Rate should be between 0 and 1.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( OR(ISNULL({!Tax_Rate_F}), AND({!Tax_Rate_F}&lt;=1, {!Tax_Rate_F}&gt;=0)), true,false)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Line_Items_IE_IF</name>
        <label>Enter Line Items IF IF</label>
        <locationX>930</locationX>
        <locationY>664</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_select_Timekeeper_Activity_and_Task_Code_0</targetReference>
        </connector>
        <fields>
            <name>Create_Line_Item_Title_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Edit Line Item&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_LI_to_Edit.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowScreenStage_Fee_0</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_Line_Items_IE_IF_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Line_Items_IE_IF_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LineItem_Date_IF_IE</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_IE_IF_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Task_Code_IF_IE</name>
                    <choiceReferences>plUTBMSTaskCode</choiceReferences>
                    <choiceReferences>defaultTaskCode</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>defaultTaskCode</defaultSelectedChoiceReference>
                    <fieldText>Task Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_Line_Items_IE_IF_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Line_Items_IE_IF_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discount_Option_IE_IF</name>
                    <choiceReferences>DiscountAmount_Choice</choiceReferences>
                    <choiceReferences>DiscountPercentage_Choice</choiceReferences>
                    <choiceReferences>defaultDiscountTaxInputType_IE_IF</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>defaultDiscountTaxInputType_IE_IF</defaultSelectedChoiceReference>
                    <fieldText>Discount Option</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_IE_IF_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discount_Amount_IE_IF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>defaultDiscountAmount_IE_IF</elementReference>
                    </defaultValue>
                    <fieldText>Discount Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 32, 24); background-color: rgb(255, 255, 255);&quot;&gt;Discount should be greater than 0.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( {!Discount_Amount_IE_IF}&gt;0, true, false)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Discount_Option_IE_IF</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>DiscountAmount_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Discount_Percentage_IE_IF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>defaultDiscountPercentage_IE_IF</elementReference>
                    </defaultValue>
                    <fieldText>Discount %</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;Please input value between 0 and 100&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( OR(ISNULL({!Discount_Percentage_IE_IF}), AND({!Discount_Percentage_IE_IF}&lt;100, {!Discount_Percentage_IE_IF}&gt;=0)), true,false)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Discount_Option_IE_IF</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>DiscountPercentage_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_LI_to_Edit.Is_Tax_Line_Item__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Line_Items_IE_IF_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Line_Items_IE_IF_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Option_IE_IF</name>
                    <choiceReferences>TaxAmount_Choice</choiceReferences>
                    <choiceReferences>TaxPercentage_Choice</choiceReferences>
                    <choiceReferences>defaultDiscountTaxInputType_IE_IF</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>defaultDiscountTaxInputType_IE_IF</defaultSelectedChoiceReference>
                    <fieldText>Tax Option</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Line_Items_IE_IF_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Amount_IE_IF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>defaultTaxAmount_IE_IF</elementReference>
                    </defaultValue>
                    <fieldText>Tax Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 32, 24);&quot;&gt;Tax should be greater than 0.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( {!Tax_Amount_IE_IF}&gt;0, true, false)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tax_Option_IE_IF</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>TaxAmount_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tax_Rate_IE_IF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>defaultTaxPercantage_IE_IF</elementReference>
                    </defaultValue>
                    <fieldText>Tax Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;Tax Rate should be between 0 and 100.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( OR(ISNULL({!Tax_Rate_IE_IF}), AND({!Tax_Rate_IE_IF}&lt;=100, {!Tax_Rate_IE_IF}&gt;=0)), true,false)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tax_Option_IE_IF</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>TaxPercentage_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_LI_to_Edit.Is_Tax_Line_Item__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line_Item_Description_IE_IF</name>
            <defaultValue>
                <stringValue>{!Get_LI_to_Edit.LegalStratusISV__Line_Item_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Line Item Description (Required for Line Item Type Fee)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ImportedInvoiceErrorMessage</name>
        <label>ImportedInvoiceErrorMessage</label>
        <locationX>1278</locationX>
        <locationY>175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ImportedInvoiceError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Line Item Not Editable&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This Line Item is not editable as it was imported&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LIDetailError</name>
        <label>LIDetailError</label>
        <locationX>1331</locationX>
        <locationY>392</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fee_or_Expense_0</targetReference>
        </connector>
        <fields>
            <name>InvoiceRejectedMsg_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Edit Line Item&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Line Item Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStage_Error</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorMessage_Body</name>
            <fieldText>&lt;p&gt;The system cannot accept the Line Item. Please review the message below and Press Next to return to the Line Item Entry screen (your work is saved).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(231, 9, 9);&quot;&gt;{!vNewLIError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Expense_Code</name>
        <label>Missing Expense Code</label>
        <locationX>1234</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enter_Line_Items_E</targetReference>
        </connector>
        <fields>
            <name>MissingCode_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Edit Line Item&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Line Item Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStage_ExpenseError</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MissingExpenseCode_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(231, 9, 9);&quot;&gt;Please select an Expense Code for Expense items.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Fee_Codes</name>
        <label>Missing Fee Codes</label>
        <locationX>682</locationX>
        <locationY>548</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enter_Line_Items_F</targetReference>
        </connector>
        <fields>
            <name>MissingCode_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Edit Line Item&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Line Item Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStage_FeeError</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MissingCode_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(231, 9, 9);&quot;&gt;Please provide Line Item Description and select Activity Code, Task code, Timekeeper and Timekeeper Classification for Fee Items.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Fee_Codes_0</name>
        <label>Missing Fee Codes</label>
        <locationX>1017</locationX>
        <locationY>746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enter_Line_Items_IE_IF</targetReference>
        </connector>
        <fields>
            <name>MissingCode_Header_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Edit Line Item&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Line Item Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStage_FeeError_0</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MissingCode_Body_IE_IF</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 9, 9); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please provide Line Item Description, select Task code, Discount.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Line_Item_Description_IE_IF</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Task_Code_IF_IE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CalculatedDiscountAmount_IE_IF</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IF_ErrorMessage_Discount_Amount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 3, 19); background-color: rgb(255, 255, 255);&quot;&gt;Cannot save Invoice level Fee discounts as Discount Amount is greater than Invoice Fee Total.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>IF</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_LI_to_Edit.Is_Tax_Line_Item__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CalculatedDiscountAmount_IE_IF_Comparison</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>vInvoiceFeeTotal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IE_ErrorMessage_Discount_Amount</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 3, 19); background-color: rgb(255, 255, 255);&quot;&gt;Cannot save Invoice level Fee discounts as Discount Amount is greater than Invoice Expense Total.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_LI_to_Edit.LegalStratusISV__Line_Item_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>IE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CalculatedDiscountAmount_IE_IF_Comparison</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>vInvoiceExpenseTotal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReviewInvoiceErrorMessage</name>
        <label>ReviewInvoiceErrorMessage</label>
        <locationX>1416</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Review_Invoice_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Line Item Not Editable&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This Line Item is not editable as the invoice is not in New status&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_LI_to_Edit</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAllInvoiceCosts</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vBillingRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vContentIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrentCostfromLoop</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vInvoiceCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInvoiceExpenseTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vInvoiceFeeTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vInvoiceFileNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLawFirmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vLawFirmRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLineItemNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vNewLIError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewLineItemRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewLIObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Line_Item__c</objectType>
    </variables>
    <variables>
        <name>vNewLISuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNextLineItemNumber_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vPreviousNumberOfUnits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vPreviousUnitCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vSelectedActivityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedExpenseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedMatterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedTaskCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedTimeKeeperContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTempLineItemRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTimekeeperClassification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTimekeeperID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTimekeeperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTotalExpenses</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTotalFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTotalTaxesOnExpenses</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTotalTaxesonFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vValidRatesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
