unpackaged/main/default/flows/IDB_Flow_Publish_Document_Checklist_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Document_checklist_Item_Values</name>
        <label>Set Document checklist Item Values</label>
        <locationX>458</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>Document_checklist_Item_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStatusNew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckStatusNew</name>
        <label>CheckStatusNew</label>
        <locationX>456</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>DisplayMessageFailedCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>StatusNotNew</defaultConnectorLabel>
        <rules>
            <name>StatusNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Checklist_Item_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Document_Checklist_Item</targetReference>
            </connector>
            <label>StatusNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>isTeamLead</name>
        <label>isTeamLead</label>
        <locationX>244</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>NoAccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTeamLeaderProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.IDB_Invest_Publish_Access</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Profile.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecord</targetReference>
            </connector>
            <label>isTeamLeaderProfile</label>
        </rules>
    </decisions>
    <interviewLabel>Flow _Publish_Document_Checklist_Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow _Publish_Document_Checklist_Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecord</label>
        <locationX>588</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Document_checklist_Item_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Document_Checklist_Item__c</object>
        <outputAssignments>
            <assignToReference>Document_Checklist_Item_Number</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Document_Checklist_Item_Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Publish_Document_Checklist_Item</name>
        <label>Publish_Document_Checklist_Item</label>
        <locationX>324</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>DisplayMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </inputAssignments>
        <object>Document_Checklist_Item__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>DisplayMessage</name>
        <label>DisplayMessage</label>
        <locationX>324</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PublishedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Document Checklist Item &quot;{!Document_Checklist_Item_Number}&quot; was Published.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayMessageFailedCase</name>
        <label>DisplayMessageFailedCase</label>
        <locationX>588</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageStatusNotNew</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Only &apos;New&apos; Document Checklist Item can be Published.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoAccessScreen</name>
        <label>NoAccessScreen</label>
        <locationX>95</locationX>
        <locationY>282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You don&apos;t have access to Publish Checklist Item.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>134</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>isTeamLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Document_Checklist_Item_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Document_checklist_Item_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document_Checklist_Item__c</objectType>
    </variables>
    <variables>
        <name>Document_Checklist_Item_Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
