unpackaged/main/default/flows/LS_Create_LS_Matter_Players.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_LeadOutsideCounselPlayer_to_Players</name>
        <label>Add LeadOutsideCounselPlayer to Players</label>
        <locationX>1116</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>Players</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadOutsideCounselPlayer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Salesforce_Paralegal_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LeadSalesforceAttorneyPlayer_to_Players</name>
        <label>Add LeadSalesforceAttorneyPlayer to Players</label>
        <locationX>778</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>Players</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadSalesforceAttorneyPlayer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Lead_Outside_Counsel_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SalesforceParalegalPlayer_to_Players</name>
        <label>Add SalesforceParalegalPlayer to Players</label>
        <locationX>1462</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>Players</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesforceParalegalPlayer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LeadOutsideCounselPlayer</name>
        <label>Assign LeadOutsideCounselPlayer</label>
        <locationX>957</locationX>
        <locationY>1026</locationY>
        <assignmentItems>
            <assignToReference>LeadOutsideCounselPlayer.LegalStratusISV__Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.OCM_eBilling_Work__r.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOutsideCounselPlayer.LegalStratusISV__Matter_Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Outside Counsel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOutsideCounselPlayer.LegalStratusISV__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOutsideCounselPlayer.LegalStratusISV__Matters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LeadOutsideCounselPlayer_to_Players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LeadOutsideCounselPlayer_0</name>
        <label>Assign LeadOutsideCounselPlayer</label>
        <locationX>1107</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>LeadOutsideCounselPlayer.LegalStratusISV__Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.Lead_Outside_Counsel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOutsideCounselPlayer.LegalStratusISV__Matter_Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Outside Counsel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOutsideCounselPlayer.LegalStratusISV__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOutsideCounselPlayer.LegalStratusISV__Matters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LeadOutsideCounselPlayer_to_Players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LeadSalesforceAttorneyPlayer</name>
        <label>Assign LeadSalesforceAttorneyPlayer</label>
        <locationX>766</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>LeadSalesforceAttorneyPlayer.LegalStratusISV__Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.LegalStratusISV__Lead_Attorneyold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadSalesforceAttorneyPlayer.LegalStratusISV__Matter_Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Attorney</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadSalesforceAttorneyPlayer.LegalStratusISV__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadSalesforceAttorneyPlayer.LegalStratusISV__Matters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LeadSalesforceAttorneyPlayer_to_Players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SalesforceParalegalPlayer</name>
        <label>Assign SalesforceParalegalPlayer</label>
        <locationX>1457</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>SalesforceParalegalPlayer.LegalStratusISV__Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.Salesforce_Paralegal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesforceParalegalPlayer.LegalStratusISV__Matter_Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paralegal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesforceParalegalPlayer.LegalStratusISV__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesforceParalegalPlayer.LegalStratusISV__Matters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SalesforceParalegalPlayer_to_Players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_ERROR</name>
        <label>Return ERROR</label>
        <locationX>232</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_NO_LEAD_SALESFORCE_ATTORNEY</name>
        <label>Return NO LEAD SALESFORCE ATTORNEY</label>
        <locationX>606</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO LEAD SALESFORCE ATTORNEY</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_SUCCESS</name>
        <label>Return SUCCESS</label>
        <locationX>1924</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_Lead_Outside_Counsel_exist</name>
        <label>Does Lead Outside Counsel exist?</label>
        <locationX>1101</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Assign_LeadOutsideCounselPlayer_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LSAExists_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Lead_Outside_Counsel_player_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Salesforce_Paralegal_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Outside_Counsel_exist_0</name>
        <label>Does Lead Outside Counsel exist?</label>
        <locationX>948</locationX>
        <locationY>873</locationY>
        <defaultConnector>
            <targetReference>Assign_LeadOutsideCounselPlayer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LSAExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Lead_Outside_Counsel_player</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Players</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Salesforce_Attorney_exist</name>
        <label>Does Lead Salesforce Attorney exist?</label>
        <locationX>759</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Assign_LeadSalesforceAttorneyPlayer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LSAExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Lead_Salesforce_Attorney_player</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Lead_Outside_Counsel_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Salesforce_Paralegal_player_exist</name>
        <label>Does Salesforce Paralegal player exist?</label>
        <locationX>1443</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Assign_SalesforceParalegalPlayer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LSAExists_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Salesforce_Paralegal_player</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Players</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_on_eBilling_Matter_null</name>
        <label>Is Contact on eBilling Matter null?</label>
        <locationX>936</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Update_eBilling_Matter_with_Lead_Outside_Counsel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_eBilling_Matter_from_MatterId.OCM_eBilling_Work__r.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Salesforce_Paralegal_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Outside_Counsel_null</name>
        <label>Is Lead Outside Counsel null?</label>
        <locationX>939</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>Get_existing_Lead_Outside_Counsel_player_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LeadOutsideCounselNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_eBilling_Matter_from_MatterId.Lead_Outside_Counsel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_OCM_Matter_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Salesforce_Attorney_null</name>
        <label>Is Lead Salesforce Attorney null?</label>
        <locationX>598</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>Get_existing_Lead_Salesforce_Attorney_player</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LeadAttorneyNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_eBilling_Matter_from_MatterId.LegalStratusISV__Lead_Attorneyold__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_NO_LEAD_SALESFORCE_ATTORNEY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OCM_Matter_null</name>
        <label>Is OCM Matter null?</label>
        <locationX>937</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Is_Contact_on_eBilling_Matter_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_eBilling_Matter_from_MatterId.OCM_eBilling_Work__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Salesforce_Paralegal_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Salesforce_Paralegal_null</name>
        <label>Is Salesforce Paralegal null?</label>
        <locationX>1277</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>Get_existing_Salesforce_Paralegal_player</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SalesforceParalegalNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_eBilling_Matter_from_MatterId.Salesforce_Paralegal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Players</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v3 TCM: Changed Matter Permissions from View/Update to Default.</description>
    <interviewLabel>LS - Create LS Matter Associated Organizations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LS - Create LS Matter Players</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Players</name>
        <label>Create Players</label>
        <locationX>1754</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Return_SUCCESS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_ERROR</targetReference>
        </faultConnector>
        <inputReference>Players</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_eBilling_Matter_from_MatterId</name>
        <label>Get eBilling Matter from MatterId</label>
        <locationX>452</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lead_Salesforce_Attorney_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_ERROR</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LegalStratusISV__Matter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Lead_Outside_Counsel_player</name>
        <label>Get existing Lead Outside Counsel player</label>
        <locationX>946</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Outside_Counsel_exist_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_ERROR</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.OCM_eBilling_Work__r.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Matters__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LegalStratusISV__Players__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Lead_Outside_Counsel_player_0</name>
        <label>Get existing Lead Outside Counsel player</label>
        <locationX>1112</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Outside_Counsel_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.Lead_Outside_Counsel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Matters__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LegalStratusISV__Players__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Lead_Salesforce_Attorney_player</name>
        <label>Get existing Lead Salesforce Attorney player</label>
        <locationX>768</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Salesforce_Attorney_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.LegalStratusISV__Lead_Attorneyold__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Matters__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LegalStratusISV__Players__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Salesforce_Paralegal_player</name>
        <label>Get existing Salesforce Paralegal player</label>
        <locationX>1450</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Salesforce_Paralegal_player_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_ERROR</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.Salesforce_Paralegal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Matters__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LegalStratusISV__Players__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_eBilling_Matter_with_Lead_Outside_Counsel</name>
        <label>Update eBilling Matter with Lead Outside Counsel</label>
        <locationX>946</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Get_existing_Lead_Outside_Counsel_player</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_ERROR</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatterId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Outside_Counsel__c</field>
            <value>
                <elementReference>Get_eBilling_Matter_from_MatterId.OCM_eBilling_Work__r.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>LegalStratusISV__Matter__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_eBilling_Matter_from_MatterId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadOutsideCounselPlayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Players__c</objectType>
    </variables>
    <variables>
        <name>LeadSalesforceAttorneyPlayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Players__c</objectType>
    </variables>
    <variables>
        <name>MatterAssociations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Matter_Association__c</objectType>
    </variables>
    <variables>
        <name>MatterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfficeMatterAssociation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Matter_Association__c</objectType>
    </variables>
    <variables>
        <name>ParentMatterAssociation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Matter_Association__c</objectType>
    </variables>
    <variables>
        <name>Players</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Players__c</objectType>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesforceParalegalPlayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Players__c</objectType>
    </variables>
</Flow>
