unpackaged/main/default/flows/LS_Create_RFP_Initiation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Alert_New_RFP_for_RPA</name>
        <label>Email Alert New RFP for RPA</label>
        <locationX>1037</locationX>
        <locationY>6014</locationY>
        <actionName>RFP_Initiation__c.New_RFP_Alert_for_RPA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>RFP_Initiation_Created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vRFPInitiationId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_RFP_to_Paralegal</name>
        <label>Email RFP to Paralegal</label>
        <locationX>1037</locationX>
        <locationY>5894</locationY>
        <actionName>RFP_Initiation__c.RFP_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Alert_New_RFP_for_RPA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vRFPInitiationId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Contact_Update</name>
        <label>New Contact Update</label>
        <locationX>182</locationX>
        <locationY>2870</locationY>
        <actionName>Contact.New_Contact_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_New_Firm</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vSelectedPartnerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Firm_Update</name>
        <label>New Firm Update</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <actionName>Account.Notification_Firm_Update1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_Partner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vSelectedLawFirmID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_International_Count</name>
        <label>Add International Count</label>
        <locationX>512</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>varInternationalCounsel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vRFPAccounts_RecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAnotherFirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Local_Count</name>
        <label>Add Local Count</label>
        <locationX>248</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>varLocalCounsel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vRFPAccounts_RecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAnotherFirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RFP_Account_Record</name>
        <label>Add RFP Account Record</label>
        <locationX>710</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.Law_Firm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedLawFirmID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.Law_Firm_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedPartnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Counsel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.RFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRFPInitiationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RFP_Record_Var_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_to_International</name>
        <label>Assign Count to International</label>
        <locationX>646</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>varCountofInternationalCounsels</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varInternationalCounsel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Local_Count_Equal_to_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_to_Local</name>
        <label>Assign Count to Local</label>
        <locationX>646</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>varCountofLocalCounsels</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varLocalCounsel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count_to_International</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Firm</name>
        <label>Assign New Firm</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.Law_Firm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedLawFirmID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.Law_Firm_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedPartnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Counsel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.RFP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRFPInitiationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRFPAccountsTemp.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RFP_Record_Var_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RFP_Record_Var_to_Collection</name>
        <label>Assign RFP Record Var to Collection</label>
        <locationX>380</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>vRFPAccounts_CollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vRFPAccountsTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Local_or_International_Counsel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varibles_to_Operations</name>
        <label>Assign varibles to Operations</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vLegalExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_be_responsible_for_legal_expensesOperations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLegalExpenseResponsibilityOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Expense_Responsibility_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_List_of_Law_Firms</name>
        <label>Create List of Law Firms</label>
        <locationX>1125</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>vLawFirmList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLawFirmsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Law_Firms_to_create_display_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Count_of_Law_Firms</name>
        <label>Get Count of Law Firms</label>
        <locationX>1191</locationX>
        <locationY>4382</locationY>
        <assignmentItems>
            <assignToReference>vRFPLawFirmCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vRFPAccounts_CollectionVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Law_Firm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Firm_Name</name>
        <label>Update Firm Name</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>List_of_Firms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_Firm_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Firm_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Firm_Name_2</name>
        <label>Update Firm Name 2</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>List_of_Firms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_Firm_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>select_Partner_Local_Cousel</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chEnterManually</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;Enter Transaction Manually&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter Transaction Manually</stringValue>
        </value>
    </choices>
    <choices>
        <name>chINternationalCounsel</name>
        <choiceText>International Counsel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International Counsel</stringValue>
        </value>
    </choices>
    <choices>
        <name>chLocalCounsel</name>
        <choiceText>Local Counsel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Local Counsel</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceInstitutional</name>
        <choiceText>Institutional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Institutional</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOperations</name>
        <choiceText>Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceTransaction</name>
        <choiceText>Transaction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transaction</stringValue>
        </value>
    </choices>
    <choices>
        <name>chSelectfromMaestro</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;Select from Maestro&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SelectfromMaestro</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>plAddNewContact</name>
        <choiceText>Add New Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add new contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>plAddNewFirm</name>
        <choiceText>Add new firm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add new firm</stringValue>
        </value>
    </choices>
    <choices>
        <name>plNotInList</name>
        <choiceText>Not in List</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not in List</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AddOrContinue</name>
        <label>AddOrContinue</label>
        <locationX>380</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Assign_Count_to_Local</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Another_Firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_New_Form_Or_Continue.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add new Firm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Counsel_Type</targetReference>
            </connector>
            <label>Add Another Firm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Law_Firm</name>
        <label>Check for Law Firm</label>
        <locationX>1191</locationX>
        <locationY>4502</locationY>
        <defaultConnector>
            <targetReference>Please_add_a_law_firm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Firms Added</defaultConnectorLabel>
        <rules>
            <name>There_is_at_least_one_Law_Firm</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vRFPLawFirmCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_RFP_Accounts</targetReference>
            </connector>
            <label>There is at least one Law Firm</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if Not in List was selected</description>
        <name>If_Not_In_List</name>
        <label>If Not In List</label>
        <locationX>380</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Update_Firm_Name_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Local_Law_Firm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add new firm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Firm</targetReference>
            </connector>
            <label>Add Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_International_Count_Equal_to_1</name>
        <label>Is International Count Equal to 1</label>
        <locationX>916</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>Get_Count_of_Law_Firms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>International_Count_Equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountofInternationalCounsels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_more_than_one_International_Counsel</targetReference>
            </connector>
            <label>International Count Equal to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Local_Count_Equal_to_1</name>
        <label>Is Local Count Equal to 1</label>
        <locationX>646</locationX>
        <locationY>4142</locationY>
        <defaultConnector>
            <targetReference>Is_International_Count_Equal_to_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_of_Local_Counsel_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountofLocalCounsels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_more_than_one_Local_Counsel</targetReference>
            </connector>
            <label>Count of Local Counsel is 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Local_or_International_Counsel</name>
        <label>Local or International Counsel</label>
        <locationX>380</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Add_International_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Local</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Counsel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chLocalCounsel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Local_Count</targetReference>
            </connector>
            <label>Local</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Not_In_List</name>
        <label>Partner Not In List</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Confirm_Law_Firm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Partner1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add new contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Partner</targetReference>
            </connector>
            <label>Create New Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Competitive_Process_for_Response_Due_Date</name>
        <label>Skip Competitive Process for Response Due Date</label>
        <locationX>1037</locationX>
        <locationY>4862</locationY>
        <defaultConnector>
            <targetReference>Update_RFP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_Due_Date_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skip_the_competitive_RFP_process_and_move_directly_to_Recommendation_Form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Response_Due_Date</targetReference>
            </connector>
            <label>Response Due Date Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_or_Instiutional</name>
        <label>Transaction or Instiutional</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Enter_Deal_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Institutional</defaultConnectorLabel>
        <rules>
            <name>Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMatterType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_from_Maestro</targetReference>
            </connector>
            <label>Operations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Selected</name>
        <label>Transaction Selected</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Transaction_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Transaction_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Number.recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Review_No_Transaction_RFP_Screen</targetReference>
            </connector>
            <label>No Transaction Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ParalegalChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varParalegalEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParalegalFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plAccountCountry</name>
        <dataType>String</dataType>
        <displayField>BillingCountry</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Law Firm</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>BillingCountry</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plAddOrContinue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AddNewFirmorContinue__c</picklistField>
        <picklistObject>RFP_Initiation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plAllLawFirms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Law Firm</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vSelectedLawFirmID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plAttorneybyLawFirm</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSelectedLawFirmID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vSelectedPartnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plCounselType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>RFP_Initiation_Accounts__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>From Global Picklist Country</description>
        <name>plCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_of_Firm__c</picklistField>
        <picklistObject>RFP_Initiation__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plDirectHireException</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Direct_Hire_Exceptions__c</picklistField>
        <picklistObject>RFP_Initiation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plGoverningLaw</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Governing_Law__c</picklistField>
        <picklistObject>RFP_Initiation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plLawFirm_filteredbyCountry</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vGetOrganizationAccountRecordType.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vSelectedLawFirmID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plMaestroTransaction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lookup_to_Maestro__c</picklistField>
        <picklistObject>RFP_Initiation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plResponsibleForLegalExpenses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Expense_Responsibility__c</picklistField>
        <picklistObject>RFP_Initiation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plSubtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Matter_Subtype__c</picklistField>
        <picklistObject>LegalStratusISV__Matter__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plTransactionChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Matter_Phase__c</picklistField>
        <picklistObject>LegalStratusISV__Matter__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plTransactionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transaction_Type__c</picklistField>
        <picklistObject>RFP_Initiation__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Append_Firm_Name</name>
        <dataType>String</dataType>
        <expression>{!Append_Firm_Name} &amp; &quot;, &quot; &amp; {!Firm_Name}</expression>
    </formulas>
    <formulas>
        <name>Final_List_of_Firms</name>
        <dataType>String</dataType>
        <expression>TRIM(Right({!List_of_Firms},2))</expression>
    </formulas>
    <formulas>
        <name>fLawFirmsList</name>
        <dataType>String</dataType>
        <expression>IF({!vLawFirmList} =&quot;None&quot;, {!Loop_through_Law_Firms_to_create_display_string.Law_Firm__r.Name}, {!vLawFirmList} + &apos;, &apos; + {!Loop_through_Law_Firms_to_create_display_string.Law_Firm__r.Name})</expression>
    </formulas>
    <formulas>
        <name>NewRFPLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp;{!vRFPInitiationId}</expression>
    </formulas>
    <interviewLabel>LS - RFP Initiation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LS - Create RFP Initiation</label>
    <loops>
        <name>Loop_through_Law_Firms_to_create_display_string</name>
        <label>Loop through Law Firms to create display string</label>
        <locationX>1037</locationX>
        <locationY>5318</locationY>
        <collectionReference>vRFPAccounts_CollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_List_of_Law_Firms</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_List_of_Firms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Firm</name>
        <label>Create Firm</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <assignRecordIdToReference>vSelectedLawFirmID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Firm_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Firm_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vGetOrganizationAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Law Firm</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Inst_RFP</name>
        <label>Create Inst RFP</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>vRFPInitiationId</assignRecordIdToReference>
        <connector>
            <targetReference>Direct_Hire_Questions</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Matter_Description_Inst</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Expense_Responsibility__c</field>
            <value>
                <elementReference>Who_will_be_responsible_for_legal_expenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_for_Legal_Expenses_Other__c</field>
            <value>
                <elementReference>Legal_Expense_Responsibility_Other_Institution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Name__c</field>
            <value>
                <elementReference>Transaction_Matter_Name</elementReference>
            </value>
        </inputAssignments>
        <object>RFP_Initiation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>182</locationX>
        <locationY>2750</locationY>
        <assignRecordIdToReference>vSelectedPartnerID</assignRecordIdToReference>
        <connector>
            <targetReference>New_Contact_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vSelectedLawFirmID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Partner_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Partner_NameLast</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_RFP_Accounts</name>
        <label>Create RFP Accounts</label>
        <locationX>1037</locationX>
        <locationY>4622</locationY>
        <connector>
            <targetReference>Review_Law_Firms</targetReference>
        </connector>
        <inputReference>vRFPAccounts_CollectionVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_RFP_Record</name>
        <label>Create RFP Record</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>vRFPInitiationId</assignRecordIdToReference>
        <connector>
            <targetReference>Direct_Hire_Questions</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Matter_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Governing_Law__c</field>
            <value>
                <elementReference>Governing_Law_Operations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Expense_Responsibility__c</field>
            <value>
                <elementReference>vLegalExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_for_Legal_Expenses_Other__c</field>
            <value>
                <elementReference>vLegalExpenseResponsibilityOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>varMatterSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Name__c</field>
            <value>
                <elementReference>Matter_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Phase__c</field>
            <value>
                <elementReference>Transaction_Phase_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Transaction_Number.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varMatterType</elementReference>
            </value>
        </inputAssignments>
        <object>RFP_Initiation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Transaction_Number</name>
        <label>Get Transaction Number</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_RFP_Initiation_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction_Number.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Transaction_Number_Ext_Id__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>vGetOrganizationAccountRecordType</name>
        <label>Get Organization Account Record Type</label>
        <locationX>380</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Local_Counsel_Firm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Law_Firm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_List_of_Firms</name>
        <label>Update List of Firms</label>
        <locationX>1037</locationX>
        <locationY>5654</locationY>
        <connector>
            <targetReference>Select_paralegal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRFPInitiationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RFP_Initiation_Account_Names__c</field>
            <value>
                <elementReference>vLawFirmList</elementReference>
            </value>
        </inputAssignments>
        <object>RFP_Initiation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RFP</name>
        <label>Update RFP</label>
        <locationX>1037</locationX>
        <locationY>5198</locationY>
        <connector>
            <targetReference>Loop_through_Law_Firms_to_create_display_string</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRFPInitiationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments_Observations__c</field>
            <value>
                <elementReference>Comments_Observations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_amounts__c</field>
            <value>
                <elementReference>Estimate_Amounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Due__c</field>
            <value>
                <elementReference>Response_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_Competitive_RFP_Process__c</field>
            <value>
                <elementReference>Skip_the_competitive_RFP_process_and_move_directly_to_Recommendation_Form</elementReference>
            </value>
        </inputAssignments>
        <object>RFP_Initiation__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Firm</name>
        <label>Add Firm</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Firm</targetReference>
        </connector>
        <fields>
            <name>Firm_Name</name>
            <dataType>String</dataType>
            <fieldText>Firm Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Partner</name>
        <label>Add Partner</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
        <fields>
            <name>Partner_NameLast</name>
            <dataType>String</dataType>
            <fieldText>Partner Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Partner_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Partner First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AddAnotherFirm</name>
        <label>Add Another Firm</label>
        <locationX>380</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddOrContinue</targetReference>
        </connector>
        <fields>
            <name>Add_New_Form_Or_Continue</name>
            <extensionName>runtime_industries_lending:flowPickEnum</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Add New Firm or Continue with Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>entityName</name>
                <value>
                    <stringValue>RFP_Initiation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enumFieldName</name>
                <value>
                    <stringValue>AddNewFirmorContinue__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_from_Maestro</name>
        <label>Choose from Maestro</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_varibles_to_Operations</targetReference>
        </connector>
        <fields>
            <name>Transaction_Phase_picklist</name>
            <choiceReferences>plTransactionChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matter Phase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_will_be_responsible_for_legal_expensesOperations</name>
            <choiceReferences>plResponsibleForLegalExpenses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who will be responsible for legal expenses?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal_Expense_Responsibility_Other</name>
            <fieldText>If needed, please clarify the details for legal expenses arrangements.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Governing_Law_Operations</name>
            <choiceReferences>plGoverningLaw</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Governing Law Operations</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayNotinMaestro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; font-family: Calibri, sans-serif;&quot;&gt;If the project is not in Maestro yet, please move to the next question.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; font-family: Calibri, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transaction_Number</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>RFP_Initiation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Transaction Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varTransactionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Law_Firm</name>
        <label>Confirm Law Firm</label>
        <locationX>710</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_RFP_Account_Record</targetReference>
        </connector>
        <fields>
            <name>ConfirmNewFirm</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select Next to Confirm Law Firm or Press Previous to Make Changes. After you Confirm Law Firm you may add more Law Firms&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LawFirmRecordText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Law Firm: {!Select_Local_Law_Firm}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Partner: {!Select_Partner1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;International or Local: {!Add_Counsel}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Direct_Hire_Questions</name>
        <label>Direct Hire Questions</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Counsel_Type</targetReference>
        </connector>
        <fields>
            <name>Skip_the_competitive_RFP_process_and_move_directly_to_Recommendation_Form</name>
            <dataType>Boolean</dataType>
            <fieldText>Skip the RFP process and move directly to Recommendation form.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skip_RFP_note</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Note:&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; color: rgb(0, 0, 0); font-size: 11px;&quot;&gt; Only Skip the RFP Process if you can do a direct hiring under the exceptions and if you currently have the Law Firm&apos;s quote to upload.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Be aware, if you are hiring both Local and International Counsel and you need the RFP for one of the counsels, please do the competitive RFP process in a separate request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Direct_Hire_Exception</name>
            <choiceReferences>plDirectHireException</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Direct Hire Exception</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_Observations</name>
            <fieldText>Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Skip_the_competitive_RFP_process_and_move_directly_to_Recommendation_Form</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Estimate_Amounts</name>
            <dataType>Currency</dataType>
            <fieldText>Estimate Amounts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Skip_the_competitive_RFP_process_and_move_directly_to_Recommendation_Form</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UploadFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vRFPInitiationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContentIDs</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Skip_the_competitive_RFP_process_and_move_directly_to_Recommendation_Form</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Deal_Information</name>
        <label>Enter Deal Information</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Inst_RFP_Screen</targetReference>
        </connector>
        <fields>
            <name>Who_will_be_responsible_for_legal_expenses</name>
            <choiceReferences>plResponsibleForLegalExpenses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who will be responsible for legal expenses?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal_Expense_Responsibility_Other_Institution</name>
            <fieldText>If needed, please clarify the details for legal expenses arrangements.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transaction_Matter_Name</name>
            <dataType>String</dataType>
            <fieldText>Transaction/Matter Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Matter_Description_Inst</name>
            <fieldText>Matter Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initiate_RFP</name>
        <label>Initiate RFP</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transaction_or_Instiutional</targetReference>
        </connector>
        <fields>
            <name>Matter_Type_Subtype_Dependency</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>LegalStratusISV__Matter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>LegalStratusISV__Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Matter_Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varMatterType</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varMatterSubtype</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Description_Deal_type</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10px; font-family: sans-serif;&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Institutional matter:&amp;nbsp;A matter that is &lt;/span&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;internal&lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; to IDB/IDB Invest (e.g. labor dispute) or where the legal services sought are for the benefit of IDB/IDB Invest in one or multiple transactions (e.g. legal opinions). All matters originated by the Compliance or Institutional and Corporate units are considered Institutional for these purposes&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Operations: A financing operation in which IDB/IDB Invest is the lender / issuer/guarantor/investor. For purposes of this document, operations listed in Maestro should be considered as Transactions by default&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Need_more_than_one_International_Counsel</name>
        <label>Need more than one International Counsel</label>
        <locationX>641</locationX>
        <locationY>4382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Counsel_Type</targetReference>
        </connector>
        <fields>
            <name>DisplayMoreThanOneInternationalCounsel</name>
            <fieldText>&lt;p&gt;Need more than one International Counsel for competitive bid.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Need_more_than_one_Local_Counsel</name>
        <label>Need more than one Local Counsel</label>
        <locationX>377</locationX>
        <locationY>4262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Counsel_Type</targetReference>
        </connector>
        <fields>
            <name>MoreThanOne</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Need more than one Local Counsel for competitive process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_add_a_law_firm</name>
        <label>Please add a law firm</label>
        <locationX>1345</locationX>
        <locationY>4622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Counsel_Type</targetReference>
        </connector>
        <fields>
            <name>LawFirmRecordReminder</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;At least one firm must be added to this RFP Initiation Record before it can be send to the Paralegal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Response_Due_Date</name>
        <label>Request Response Due Date</label>
        <locationX>905</locationX>
        <locationY>4982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_RFP</targetReference>
        </connector>
        <fields>
            <name>Response_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Response Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Inst_RFP_Screen</name>
        <label>Review Inst RFP Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Inst_RFP</targetReference>
        </connector>
        <fields>
            <name>RFPInstConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Carefully read the information you have provided. Press Next to Create this Record and start selecting Law Firms. Press Previous to go Back.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Type:&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; {!varMatterType}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Subtype: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!varMatterSubtype}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Legal Expenses Paid By: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Who_will_be_responsible_for_legal_expenses}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Legal Expenses Other: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Legal_Expense_Responsibility_Other_Institution}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Matter Name: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Transaction_Matter_Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Matter Description: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Matter_Description_Inst}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Law_Firms</name>
        <label>Review Law Firms</label>
        <locationX>1037</locationX>
        <locationY>4742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_Competitive_Process_for_Response_Due_Date</targetReference>
        </connector>
        <fields>
            <name>Carefully_Review</name>
            <fieldText>&lt;p&gt;Carefully review the Law Firms selected for this request. Confirm Law Firm or press Previous to edit if changes are required or you need to add another Law Firm.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewRFPAssignments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RFP_Initiation_Accounts__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>RFP_Initiation_Accounts__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>vRFPAccounts_CollectionVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Role__c,Law_Firm__c,Law_Firm_Partner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Role__c:319, Law_Firm__c:319, Law_Firm_Partner__c:319</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_No_Transaction_RFP_Screen</name>
        <label>Review No Transaction RFP Screen</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_RFP_Record</targetReference>
        </connector>
        <fields>
            <name>ReviewRFPnonTransactionData</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Carefully read the information you have provided. Press Next to Create this Record and start selecting Law Firms. Press Previous to go Back.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Type:&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; {!varMatterType}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Subtype: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!varMatterSubtype}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Legal Expenses Paid By: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!vLegalExpenses}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Legal Expenses Other: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!vLegalExpenseResponsibilityOther}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Matter Name: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Matter_Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Governing Law:&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; {!Governing_Law_Operations}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Matter Description: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Matter_Description}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_RFP_Initiation_Record</name>
        <label>Review RFP Initiation Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_RFP_Record</targetReference>
        </connector>
        <fields>
            <name>ReviewRFPData</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Carefully read the information you have provided. Press Next to Create this Record and start selecting Law Firms. Press Previous to go Back.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Type:&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; {!varMatterType}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Subtype: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!varMatterSubtype}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Transaction: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Get_Transaction_Number.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Legal Expenses Paid By: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!vLegalExpenses}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Legal Expenses Other: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!vLegalExpenseResponsibilityOther}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Matter Name: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Matter_Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Governing Law:&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; {!Governing_Law_Operations}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Transaction ID:&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; {!Get_Transaction_Number.Transaction_Number_Ext_Id__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Matter Description: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Matter_Description}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RFP_Initiation_Created</name>
        <label>RFP Initiation Created</label>
        <locationX>1037</locationX>
        <locationY>6134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowFinish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;RFP Initiation has been Created&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Matter_Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Counsel_Type</name>
        <label>Select Counsel Type</label>
        <locationX>380</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Country</targetReference>
        </connector>
        <fields>
            <name>Add_Counsel</name>
            <choiceReferences>chINternationalCounsel</choiceReferences>
            <choiceReferences>chLocalCounsel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The Counsel will act as:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Country</name>
        <label>Select Country</label>
        <locationX>380</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>vGetOrganizationAccountRecordType</targetReference>
        </connector>
        <fields>
            <name>CountryofFirm</name>
            <fieldText>&lt;p&gt;Select Country of Firm to be added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>plCountry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Local_Counsel_Firm</name>
        <label>Select Local Counsel Firm</label>
        <locationX>380</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Not_In_List</targetReference>
        </connector>
        <fields>
            <name>Select_Local_Law_Firm</name>
            <choiceReferences>plAddNewFirm</choiceReferences>
            <choiceReferences>plLawFirm_filteredbyCountry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Law Firm</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partner_select</name>
            <fieldText>&lt;p&gt;Press Next to Select a Partner or Add new firm&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_paralegal</name>
        <label>Select paralegal</label>
        <locationX>1037</locationX>
        <locationY>5774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_RFP_to_Paralegal</targetReference>
        </connector>
        <fields>
            <name>Select_Paralegal_From_List</name>
            <choiceReferences>ParalegalChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Paralegal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Comments_for_the_Paralegal</name>
            <dataType>String</dataType>
            <fieldText>Additional Comments for the Paralegal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_Partner_Local_Cousel</name>
        <label>Select Partner</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Partner_Not_In_List</targetReference>
        </connector>
        <fields>
            <name>Select_Partner1</name>
            <choiceReferences>plAddNewContact</choiceReferences>
            <choiceReferences>plAttorneybyLawFirm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Partner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transaction_Fields</name>
        <label>Transaction Fields</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transaction_Selected</targetReference>
        </connector>
        <fields>
            <name>Matter_Name</name>
            <dataType>String</dataType>
            <fieldText>Matter Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Matter_Description</name>
            <fieldText>Matter Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initiate_RFP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ParalegalBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!varParalegalFirstName},
Please prepare a Request for Proposal for the following law firm[s]: {!vLawFirmList}
{!NewRFPLinkFormula}
Thank you</text>
    </textTemplates>
    <textTemplates>
        <name>ParalegalSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Prepare/Edit RFP and send it for revision</text>
    </textTemplates>
    <variables>
        <name>AssignAddorContinue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_of_Firms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Matter Type Picklist Value</description>
        <name>matterTypePV</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAddInitiationRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vAdditionalCommentsPayments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAddLawFirmRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCountofInternationalCounsels</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountofLocalCounsels</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCreateFirmId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateNewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInternationalCounsel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLocalCounsel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatterSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatterType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParalegalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParalegalFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDirectCostEstimate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>vDirectHireException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>vLawFirmID_fromCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLawFirmList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>vLawFirmList2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLegalExpenseResponsibilityOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLegalExpenses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOption3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReturnToInitiation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vRFPAccountRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NONE</stringValue>
        </value>
    </variables>
    <variables>
        <name>vRFPAccounts_CollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Initiation_Accounts__c</objectType>
    </variables>
    <variables>
        <name>vRFPAccounts_RecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Initiation_Accounts__c</objectType>
    </variables>
    <variables>
        <name>vRFPAccountsTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Initiation_Accounts__c</objectType>
    </variables>
    <variables>
        <name>vRFPInitiationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRFPLawFirmCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedLawFirmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedPartnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectionMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>vState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTransactionSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TFFP</stringValue>
        </value>
    </variables>
    <variables>
        <name>vTransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Institutional</stringValue>
        </value>
    </variables>
    <variables>
        <name>vZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
