unpackaged/main/default/flows/LS_Manual_Invoice_Screen_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Invoice_Record</name>
        <label>Create Invoice Record</label>
        <locationX>1176</locationX>
        <locationY>266</locationY>
        <actionName>CreateInvoiceRecordsManually</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>vNewInvoiceSuccess_True_False</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileType</name>
            <value>
                <elementReference>cManual</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceRec</name>
            <value>
                <elementReference>vNewInvoiceObject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>cNew</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vNewInvoiceError</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vNewInvoiceID</assignToReference>
            <name>invoiceId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vNewInvoiceSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_FlowStages_and_CurrentStage</name>
        <label>Assign FlowStages and CurrentStage</label>
        <locationX>427</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>FlowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Matter Selection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Invoice Header</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Line Items</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Matter_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VendorID_to_LS_LawFirm_ID_field</name>
        <label>Assign VendorID to LS LawFirm ID field</label>
        <locationX>426</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>vLawFirmID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_s_Contact_Data.Account.LegalStratusISV__Law_Firm_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLawFirmRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_s_Contact_Data.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FlowStages_and_CurrentStage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_vNewInvoiceObject</name>
        <label>Populate vNewInvoiceObject</label>
        <locationX>1023</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.LegalStratusISV__Billing_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.LegalStratusISV__Billing_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.LegalStratusISV__Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.LegalStratusISV__Invoice_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.LegalStratusISV__Invoice_Number_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.LegalStratusISV__Invoice_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLawFirmRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.LegalStratusISV__Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedMatterID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.LegalStratusISV__Law_Firm_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Law_Firm_Record.LegalStratusISV__Law_Firm_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewInvoiceObject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Manual_Record_Type_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoice_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CurrentStage</name>
        <label>Update CurrentStage</label>
        <locationX>653</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Header</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CurrentStage2</name>
        <label>Update CurrentStage</label>
        <locationX>1002</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Line Items</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CurrentStage_0</name>
        <label>Update CurrentStage</label>
        <locationX>531</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Header</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PDF Upload</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Expense_choice</name>
        <choiceText>Expense</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fees_choice</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <constants>
        <name>cManual</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual</stringValue>
        </value>
    </constants>
    <constants>
        <name>cNew</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AP_Route</name>
        <label>AP Route</label>
        <locationX>527</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Update_CurrentStage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>International</defaultConnectorLabel>
        <rules>
            <name>AMER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Matter_Record.AP_Route__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CurrentStage</targetReference>
            </connector>
            <label>AMER</label>
        </rules>
    </decisions>
    <decisions>
        <description>User cannot create invoice if their Associated Account does not have a LawFirmID set in the System</description>
        <name>Check_for_Law_Firm_ID</name>
        <label>Check for Law Firm ID</label>
        <locationX>235</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>NoLawFirmID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Law Firm ID</defaultConnectorLabel>
        <rules>
            <name>Law_Firm_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_s_Contact_Data.Account.LegalStratusISV__Law_Firm_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VendorID_to_LS_LawFirm_ID_field</targetReference>
            </connector>
            <label>Law Firm ID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>vNewInvoiceSuccess_True_False</name>
        <label>vNewInvoiceSuccess = True/False</label>
        <locationX>992</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>InvoiceDetailError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Invoice_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewInvoiceSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CurrentStage2</targetReference>
            </connector>
            <label>Is New Invoice Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>plContactTimekeepers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLawFirmRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Timekeeper_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vSelectedTimeKeeperContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimekeeperID</assignToReference>
            <field>LegalStratusISV__Timekeeper_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimekeeperName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plFilteredMatters</name>
        <dataType>String</dataType>
        <displayField>Matter_Names__c</displayField>
        <filterLogic>1 AND 3 AND ( 2 OR ( 6 AND 7 ) ) AND ( 4 OR 5)</filterLogic>
        <filters>
            <field>LegalStratusISV__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLawFirmRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Matter_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Open</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Matter_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Closed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Matter_Grace_Period__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>LegalStratusISV__Matter_Association__c</object>
        <outputAssignments>
            <assignToReference>vSelectedMatterID</assignToReference>
            <field>LegalStratusISV__Matter__c</field>
        </outputAssignments>
        <valueField>Matter_Names__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plLawFirms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vLawFirmRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>AccountNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plMatter</name>
        <dataType>String</dataType>
        <displayField>LegalStratusISV__Matter__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plLawFirms</elementReference>
            </value>
        </filters>
        <filters>
            <field>LegalStratusISV__Organization_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Law firm</stringValue>
            </value>
        </filters>
        <object>LegalStratusISV__Matter_Association__c</object>
        <outputAssignments>
            <assignToReference>vSelectedMatterID</assignToReference>
            <field>LegalStratusISV__Matter__c</field>
        </outputAssignments>
        <sortField>LegalStratusISV__Matter__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>LegalStratusISV__Matter__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plOpenMatter</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>LegalStratusISV__Matter__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>fEndTextNumber</name>
        <dataType>Number</dataType>
        <expression>FIND(&apos;. You can look up&apos;,{!$Flow.FaultMessage})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFindStartNumber</name>
        <dataType>Number</dataType>
        <expression>FIND(&apos;**&apos;,{!$Flow.FaultMessage})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFlowErrorMsg</name>
        <dataType>String</dataType>
        <expression>MID({!$Flow.FaultMessage}, {!fFindStartNumber},{!fEndTextNumber} - {!fFindStartNumber})</expression>
    </formulas>
    <formulas>
        <name>fInvoiceNumber</name>
        <dataType>String</dataType>
        <expression>&quot;M&quot; &amp; &apos;-&apos; &amp; RIGHT({!vNewInvoiceID},6)</expression>
    </formulas>
    <formulas>
        <name>fInvoiceTotal</name>
        <dataType>Currency</dataType>
        <expression>{!vTotalFees} + {!vTotalExpenses} + {!fTotalTaxes}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fLineItemNumber_toText</name>
        <dataType>String</dataType>
        <expression>TEXT({!vLineItemNumber})</expression>
    </formulas>
    <formulas>
        <name>fLineItemTotal</name>
        <dataType>Currency</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fTotalTaxes</name>
        <dataType>Currency</dataType>
        <expression>{!vTotalTaxesonFees} + {!vTotalTaxesOnExpenses}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LS - Manual Invoice Screen Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Law_Firm_Record</name>
        <label>get Law Firm Record</label>
        <locationX>884</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_vNewInvoiceObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLawFirmRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Manual_Record_Type_Record</name>
        <label>get Manual Record Type Record</label>
        <locationX>747</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Law_Firm_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cManual</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LegalStratusISV__Invoice__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Matter_Record</name>
        <label>get Matter Record</label>
        <locationX>427</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AP_Route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSelectedMatterID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LegalStratusISV__Matter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_s_Contact_Data</name>
        <label>Get User&apos;s Contact Data</label>
        <locationX>244</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Law_Firm_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Add_Invoice</name>
        <label>Add Invoice</label>
        <locationX>634</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Manual_Record_Type_Record</targetReference>
        </connector>
        <fields>
            <name>InvoiceDetails_Banner</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Manual Invoice Creation&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Invoice Details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoiceDetails_Stages</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Add_Invoice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Invoice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MatterIcon_InvoiceDetails</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>MatterIcon</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Invoice_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MatterDetailsHeader</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Matter Details&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Invoice_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Invoice_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InvoiceIcon_InvoiceDetails</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>InvoiceIcon</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Invoice_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InvoiceDetailsHeader</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 18px;&quot;&gt;Invoice Details&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Invoice_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Invoice_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Invoice Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Invoice_Description</name>
                    <fieldText>Invoice Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Invoice_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Invoice_Date</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Billing_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Billing_Start_Date</elementReference>
                    </defaultValue>
                    <fieldText>Billing Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Billing_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Billing_End_Date</elementReference>
                    </defaultValue>
                    <fieldText>Billing End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InvoiceDetailError</name>
        <label>InvoiceDetailError</label>
        <locationX>636</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Invoice</targetReference>
        </connector>
        <fields>
            <name>InvoiceError_Banner</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Manual Invoice Creation&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Invoice Issue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoiceError_Stage</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>InvoiceRejectedMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The system cannot accept the Invoice. Please review the message below and press the Previous Button to correct any issues. Press Next to return to the Invoice Entry screen (your work is saved).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Error: &lt;/span&gt;&lt;span style=&quot;color: rgb(231, 9, 9); font-size: 14px;&quot;&gt;{!vNewInvoiceError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoLawFirmID</name>
        <label>NoLawFirmID</label>
        <locationX>244</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoFirmIDMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Manual Invoice Creation&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Missing Law Firm ID&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The Law Firm ID on your law firm&apos;s account record is missing.  Please go to the My Firm tab and enter a value into the Law Firm ID field.  Many companies use their Tax ID as their Law Firm ID&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Matter_Screen</name>
        <label>Select Matter</label>
        <locationX>426</locationX>
        <locationY>268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Matter_Record</targetReference>
        </connector>
        <fields>
            <name>MatterSelection_Banner</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Manual Invoice Creation&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Matter Selection&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MatterSelection_Stages</name>
            <extensionName>c:LOO_FlowScreenStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>FlowStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Matter</name>
            <choiceReferences>plFilteredMatters</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Matter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>118</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Get_User_s_Contact_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Line_Item</name>
        <label>Add Line Item</label>
        <locationX>1004</locationX>
        <locationY>800</locationY>
        <flowName>LS_Manual_Invoice_Line_Items_New</flowName>
        <inputAssignments>
            <name>CurrentStage</name>
            <value>
                <elementReference>CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowStages</name>
            <value>
                <elementReference>FlowStages</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pInvoiceID</name>
            <value>
                <elementReference>vNewInvoiceID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ttInvoiceSummary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Invoice Date: {!Invoice_Date}&lt;/p&gt;&lt;p&gt;Billing Start Date: {!Billing_Start_Date}&lt;/p&gt;&lt;p&gt;Billing End Date: {!Billing_End_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Closed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </variables>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newInvoiceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Open</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>vAllInvoiceCosts</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vBillingRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vContentIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrentCostfromLoop</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vInvoiceFileNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLawFirmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vLawFirmRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLineItemNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vNewInvoiceError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vNewInvoiceObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LegalStratusISV__Invoice__c</objectType>
    </variables>
    <variables>
        <name>vNewInvoiceSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedMatterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedTimeKeeperContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTimekeeperClassification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTimekeeperID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTimekeeperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTotalExpenses</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTotalFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTotalTaxesOnExpenses</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTotalTaxesonFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vValidRatesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
