unpackaged/main/default/flows/LS_Timekeeper_Upload_Flow_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_UserContactID_variable</name>
        <label>Set UserContactID variable</label>
        <locationX>771</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>vUserContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUserContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_ContactID_associated_with_this_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Variables_Set_in_Contact_Arrays</name>
        <label>Are Variables Set in Contact Arrays</label>
        <locationX>1149</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>NoContactID_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One of the Contact Array vars are not set</defaultConnectorLabel>
        <rules>
            <name>Contact_Account_Variables_Are_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record_of_Current_User.AccountId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record_of_Current_User.Law_Firm_Office_Account__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record_of_Current_User.LegalStratusISV__Organization_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Timekeepers</targetReference>
            </connector>
            <label>Contact Account Variables Are Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Variables_Set_in_INTERNAL_Contact_Arrays</name>
        <label>Are Variables Set in INTERNAL Contact Arrays</label>
        <locationX>1571</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>NoContactID_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One of the Contact Array vars are not set</defaultConnectorLabel>
        <rules>
            <name>Contact_Account_Variables_Are_Set_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Internal_User_Contact_Record.AccountId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Internal_User_Contact_Record.Law_Firm_Office_Account__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Internal_User_Contact_Record.LegalStratusISV__Organization_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Timekeepers</targetReference>
            </connector>
            <label>Contact Account Variables Are Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_matching_Contact_RecordType</name>
        <label>Is there a matching Contact RecordType</label>
        <locationX>748</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>No_Contact_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordType not found</defaultConnectorLabel>
        <rules>
            <name>RecordType_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_user_is_correctly_set_up_to_add_Timekeepers</targetReference>
            </connector>
            <label>Contact RecordType Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_ContactID_associated_with_this_User</name>
        <label>Is there  ContactID associated with this User</label>
        <locationX>1337</locationX>
        <locationY>164</locationY>
        <defaultConnector>
            <targetReference>Get_Internal_User_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ContactId found for external User</defaultConnectorLabel>
        <rules>
            <name>Contact_ID_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUserContactID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUserContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record_of_Current_User</targetReference>
            </connector>
            <label>Contact ID found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_set_up_complete</name>
        <label>Is user set up complete</label>
        <locationX>555</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>User_Setup_Incomplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Not Setup Correctly</defaultConnectorLabel>
        <rules>
            <name>User_Good_To_Go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUserSetUpComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UserContactID_variable</targetReference>
            </connector>
            <label>User Good To Go</label>
        </rules>
    </decisions>
    <description>Manages screen prompts for Timekeeper Import Process. A Contact beforecreate Flow sets Accounts, LawFirm Office and Timekeeper ID values and a Contact.ProcessBuilder manages the User creation processes.</description>
    <formulas>
        <name>fUserContactID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>LS - Timekeeper Upload Flow v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LS - Timekeeper Upload Flow v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record_of_Current_User</name>
        <label>Get Contact Record of Current User</label>
        <locationX>1140</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Variables_Set_in_Contact_Arrays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_RecordType_Id</name>
        <label>Get Contact RecordType Id</label>
        <locationX>573</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_matching_Contact_RecordType</targetReference>
        </connector>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Internal_User_Contact_Record</name>
        <label>Get Internal User Contact Record</label>
        <locationX>1584</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Variables_Set_in_INTERNAL_Contact_Arrays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Associated_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>No_Contact_Record_Type</name>
        <label>No Contact Record Type</label>
        <locationX>942</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactRecordTypeNotFound</name>
            <fieldText>&lt;p&gt;The system could not find the Vendor/Other contact type in the System. Timekeepers can only be uploaded on this RecordType. Please contact your system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoContactID_0</name>
        <label>NoContactID</label>
        <locationX>1341</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactArraysNotSet</name>
            <fieldText>&lt;p&gt;One of the following Contact data elements are not set on your record in the System.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Your Parent Office (AKA Account);&lt;/li&gt;&lt;li&gt;Your directly Law Firm Office;&lt;/li&gt;&lt;li&gt;Your Law Firm&apos;s Organization ID.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;These fields must have values to upload timekeepers.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Timekeepers</name>
        <label>Upload Timekeepers</label>
        <locationX>1354</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>prompts</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hi {!Get_Contact_Record_of_Current_User.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;https://legalops.my.salesforce.com/sfc/p/1U000000EaxM/a/1U000000hl3z/PqdZqPSiRWL.a4VDGSRoHQWGCViJHHThoUyjQP3PkOQ&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(33, 92, 160);&quot;&gt;Click here to download the Timekeeper Template file&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Update the file with your Timekeeper information&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The system will perform initial audit checks and report whether the format of the file&amp;nbsp;&amp;nbsp;is accepted.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You may correct any errrors and resubmit the file as many times as necessary until the file is accepted. No records are added to the system until the file is accepted.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Once accepted, the system will present a snapshot of the information from the file for your review.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Timekeepers and rates will be reviewed by corporate counsel. You may review the status of each record in the Manage Timekeepers Tab.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TmkprUpload</name>
            <extensionName>LegalStratusISV:TimeKeeperImporter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Setup_Incomplete</name>
        <label>User Setup Incomplete</label>
        <locationX>581</locationX>
        <locationY>644</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IncompleteUser</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Unfortunately, your Contact information is not setup correctly in LegalStratus. Please contact your internal administrator for more information..&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please let them know that the system could not find information about one or more of the following on your Contact record:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The Parent Account (AKA Account)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The Law Firm Office or&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The Law Firm ID (AKA Organization ID).&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>623</locationX>
        <locationY>141</locationY>
        <connector>
            <targetReference>Get_Contact_RecordType_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_if_user_is_correctly_set_up_to_add_Timekeepers</name>
        <label>Check if user is correctly set up to add Timekeepers</label>
        <locationX>834</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>Is_user_set_up_complete</targetReference>
        </connector>
        <flowName>LS_Verify_Community_User_v2</flowName>
        <inputAssignments>
            <name>pUserID</name>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUserSetUpComplete</assignToReference>
            <name>vUserSetUpComplete</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>pContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>pUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCountTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>LawFirm ID AKA Org Id. Used to match timekeepers with Law Firms. This is NOT the recordID.</description>
        <name>vLawFirmIdentificationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vLawFirmOfficeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vParentOfficeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <description>Holds Loops vars before update</description>
        <name>vTempContactVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vUpdatedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vUserContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vUserSetUpComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
