unpackaged/main/default/flows/LS_Verify_Community_User_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_User_Complete_Variable_to_FALSE</name>
        <label>Set User Complete Variable to FALSE</label>
        <locationX>1038</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>vUserSetUpComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_User_Complete_Variable_to_TRUE</name>
        <label>Set User Complete Variable to TRUE</label>
        <locationX>1127</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>vUserSetUpComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Parameter_User</name>
        <label>Set Variables  for Parameter User</label>
        <locationX>766</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>vUserContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contactdi_based_On_Parameter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contactdi_based_On_Parameter.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContactLawFirmOfficeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contactdi_based_On_Parameter.Law_Firm_Office_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLSLawFirmID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contactdi_based_On_Parameter.LegalStratusISV__Organization_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_User_Complete_Variable_to_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Parameter_User_0</name>
        <label>Set Variables  for Parameter User</label>
        <locationX>827</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>vUserContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contactdi_based_On_AssociatedUserID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contactdi_based_On_AssociatedUserID.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContactLawFirmOfficeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contactdi_based_On_AssociatedUserID.Law_Firm_Office_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLSLawFirmID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contactdi_based_On_AssociatedUserID.LegalStratusISV__Organization_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_User_Complete_Variable_to_TRUE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_LawFirm_Office_Set_on_ContactIs_ParentID_Set_on_Contact_0</name>
        <label>Is LawFirm Office Set on Contact</label>
        <locationX>483</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_User_Complete_Variable_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentID Not Set</defaultConnectorLabel>
        <rules>
            <name>Law_Firm_Office_ID_Set</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_Parameter.Law_Firm_Office_Account__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_Parameter.Law_Firm_Office_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_Parameter.Law_Firm_Office_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_LS_Law_Firm_ID_Set_on_Contact</targetReference>
            </connector>
            <label>Law Firm Office ID Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LawFirm_Office_Set_on_ContactIs_ParentID_Set_on_Contact_0_0</name>
        <label>Is LawFirm Office Set on Contact</label>
        <locationX>503</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Set_User_Complete_Variable_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentID Not Set</defaultConnectorLabel>
        <rules>
            <name>Law_Firm_Office_ID_Set_0</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_AssociatedUserID.Law_Firm_Office_Account__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_AssociatedUserID.Law_Firm_Office_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_AssociatedUserID.Law_Firm_Office_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_LS_Law_Firm_ID_Set_on_Contact_0</targetReference>
            </connector>
            <label>Law Firm Office ID Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LS_Law_Firm_ID_Set_on_Contact</name>
        <label>Is LS Law Firm ID Set on Contact</label>
        <locationX>667</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Set_User_Complete_Variable_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LS Law Firm ID NOT set</defaultConnectorLabel>
        <rules>
            <name>LS_Law_Firm_ID_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_Parameter.LegalStratusISV__Organization_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_Parameter.LegalStratusISV__Organization_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Parameter_User</targetReference>
            </connector>
            <label>LS Law Firm ID Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LS_Law_Firm_ID_Set_on_Contact_0</name>
        <label>Is LS Law Firm ID Set on Contact</label>
        <locationX>642</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_User_Complete_Variable_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LS Law Firm ID NOT set</defaultConnectorLabel>
        <rules>
            <name>LS_Law_Firm_ID_Set_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_AssociatedUserID.LegalStratusISV__Organization_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_AssociatedUserID.LegalStratusISV__Organization_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Parameter_User_0</targetReference>
            </connector>
            <label>LS Law Firm ID Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ParentID_Set_on_Contact</name>
        <label>Is ParentID Set on Contact</label>
        <locationX>558</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Set_User_Complete_Variable_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentID Not Set</defaultConnectorLabel>
        <rules>
            <name>ParentID_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_Parameter.AccountId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_Parameter.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_Parameter.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_LawFirm_Office_Set_on_ContactIs_ParentID_Set_on_Contact_0</targetReference>
            </connector>
            <label>ParentID set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ParentID_Set_on_Contact_0</name>
        <label>Is ParentID Set on Contact</label>
        <locationX>568</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Set_User_Complete_Variable_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentID Not Set</defaultConnectorLabel>
        <rules>
            <name>ParentID_set_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_AssociatedUserID.AccountId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_AssociatedUserID.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contactdi_based_On_AssociatedUserID.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_LawFirm_Office_Set_on_ContactIs_ParentID_Set_on_Contact_0_0</targetReference>
            </connector>
            <label>ParentID set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Parameter_User_Sent_into_Flow</name>
        <label>Was Parameter User Sent into Flow</label>
        <locationX>189</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Get_Contactdi_based_On_AssociatedUserID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User was sent into Flow</defaultConnectorLabel>
        <rules>
            <name>Parameter_User_was_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pUserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contactdi_based_On_Parameter</targetReference>
            </connector>
            <label>Parameter User was sent</label>
        </rules>
    </decisions>
    <description>Function: accepts UserID as parameter; returns Boolean whether the given user has an Account, Law Firm Office and LawFirmID (AKA OrganizationID) on their contact record. Can be used to verify if user should be able to perform selected tasks on the Community, e.g., Timekeeper uploads</description>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>.LS - Verify Community User v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>.LS - Verify Community User v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contactdi_based_On_AssociatedUserID</name>
        <label>Get Contactdi based On AssociatedUserID</label>
        <locationX>288</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ParentID_Set_on_Contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Associated_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contactdi_based_On_Parameter</name>
        <label>Get Contactdi based On Parameter</label>
        <locationX>321</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ParentID_Set_on_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegalStratusISV__Associated_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pUserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Was_Parameter_User_Sent_into_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>pUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vContactLawFirmOfficeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vEbillingContacteMail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vEbillingContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vEbillingContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LawFirm ID or Org Id for user</description>
        <name>vLSLawFirmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vUserAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vUserContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>none</stringValue>
        </value>
    </variables>
    <variables>
        <name>vUserSetUpComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
