unpackaged/main/default/flows/Mass_Publish_DCI_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_on_Mass_Publish</name>
        <label>Send Email on Mass Publish</label>
        <locationX>737</locationX>
        <locationY>320</locationY>
        <actionName>Contact.IDB_DCI_Mass_Publish_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FinalNotificationScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Getting_Oppty.Primary_Contact__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsPublisheSuccess</name>
        <label>IsPublisheSuccess</label>
        <locationX>380</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>PublishNotSuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_DCI_Records_Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_DCI_Records_to_Publish</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Oppty</targetReference>
            </connector>
            <label>is DCI Records Published</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTeamLeader</name>
        <label>IsTeamLeader</label>
        <locationX>171</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>NoAccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTeamLeaderProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.IDB_Invest_Publish_Access</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Profile.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DCI_Records_to_Publish</targetReference>
            </connector>
            <label>isTeamLeaderProfile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_Valid</name>
        <label>Primary Contact Valid</label>
        <locationX>731</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>PrimaryContactNotValidScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Contact_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Oppty.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getting_Oppty.Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_on_Mass_Publish</targetReference>
            </connector>
            <label>Is Primary Contact Valid</label>
        </rules>
    </decisions>
    <description>This flow will Mass Publish the DCI Items on Opportunity.</description>
    <interviewLabel>Mass Publish DCI Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Publish DCI Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Getting_Oppty</name>
        <label>Getting_Oppty</label>
        <locationX>616</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_DCI_Records_to_Publish</name>
        <label>Update DCI Records to Publish</label>
        <locationX>175</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>IsPublisheSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </inputAssignments>
        <object>Document_Checklist_Item__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>FinalNotificationScreen</name>
        <label>FinalNotificationScreen</label>
        <locationX>738</locationX>
        <locationY>441</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayFinalNotificationTextUser</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Document Checklist Item(s) published successfully.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;An Email was sent to relative Primary Contact of Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoAccessScreen</name>
        <label>NoAccessScreen</label>
        <locationX>30</locationX>
        <locationY>149</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You don&apos;t have access to Mass Publish Checklist Items.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PrimaryContactNotValidScreen</name>
        <label>PrimaryContactNotValidScreen</label>
        <locationX>931</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PrimaryContactNotValidText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Document Checklist Item(s) published successfully.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;There is no valid Primary Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PublishNotSuccessScreen</name>
        <label>PublishNotSuccessScreen</label>
        <locationX>400</locationX>
        <locationY>342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DCINotPublishedText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No Document Checklist Items got Published.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>IsTeamLeader</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
