unpackaged/main/default/flows/Update_Approver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsTeamMemberFound</name>
        <label>IsTeamMemberFound</label>
        <locationX>241</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Get_Matched_Oppty_TeamMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTeamMemberMatched</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MatchedTeamRoleUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Oppty_Team_Member_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_Based_on_initiated_Import</targetReference>
            </connector>
            <label>IsTeamMemberMatched</label>
        </rules>
    </decisions>
    <description>This flow will update the Approver on Dcoument Checklist Item</description>
    <interviewLabel>Update Approver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Approver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Matched_Oppty_TeamMember</name>
        <label>Get Matched Oppty TeamMember</label>
        <locationX>82</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_DCI_Record_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IDB_Team_Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppty_Team_Member_Role</name>
        <label>Get Oppty Team Member Role</label>
        <locationX>250</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsTeamMemberFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IDB_Team_Role__c</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>MatchedTeamRoleUserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approver_Based_on_initiated_Import</name>
        <label>Update Approver Based on initiated Import</label>
        <locationX>484</locationX>
        <locationY>407</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IDB_Approver__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Document_Checklist_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DCI_Record_Approver</name>
        <label>Update DCI Record Approver</label>
        <locationX>142</locationX>
        <locationY>514</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IDB_Approver__c</field>
            <value>
                <elementReference>Get_Matched_Oppty_TeamMember.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Document_Checklist_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>131</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Oppty_Team_Member_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IDB_Team_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Document_Checklist_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MatchedTeamRoleUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
